body{
    font-family: 'Cormorant', serif;
}
h1{
    font-size:80px;
}
p{
    font-size: 25px;
    color: teal;
}
a{
    font-size: 30px;
}
h3{
    font-size: 40px;
    font-weight: bold;
}
.comments{
    text-align: center;
}