{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" type="text/css">
{% endblock%}

{%block content%}
<div class="container about">
 <h1 class="text-center"> About <span style="font-size: 80px;font-family: 'Sacramento', cursive;">Blue</span><span style="font-family: 'Cormorant', serif;font-size: 60px;">bird</span> </h1>
<hr>
 <p>Bluebird is a platform which exists to highlight stories, products and services that speak to African women and their needs, for the ultimate shoppable experience. We create lifestyle content, through articles and videos, which highlight essential products and services.</p>

<p>Our writers and editors work hard to create content that we believe will have an impact on the lives of the fierce, intelligent and curious women who visit our site daily. We’re excited that you dropped by and look forward to continue being a part of your evolution.</p>

<p><strong>Love and love,</strong></p>
<p><strong>- Bluebird Team </strong> </p>
</div>
{% endblock %}