{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/blog.css')}}" type="text/css">
{% endblock%}

{%block content%}
<div class="container">


<!--- Blog section-->

<div class = "container">
  <h1> {{blog.title}}</h1>
  <p>{{blog.posted.strftime('%Y - %m - %d')}}</p>
  <img src="https://images.unsplash.com/photo-1575898563130-a09e490b5d76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="blog-img"></a> 
    
    
    <h2> {{ blog.description}}</h2>
 
   <h4><a class="btn btn-danger btn-lg" href="{{url_for('main.delete_blog',blog_id = blog.id)}}"> Delete blog</a></h4> 
   <h4><a class="btn btn-danger btn-lg" href="{{url_for('main.update_blog',blog_id = blog.id)}}"> Update Blog</a></h4> 

   

<!--- Comment section-->

{% if comments %}
    {% for comment in comments %}
    <div class="comments">
    <h3> <strong>Comments</strong></h3>
    <hr>
    <hr>
       <p> {{comment.content}}</p>
    {% endfor %}
    <div class="row">
      <div class="text-center">
        <a class="btn btn-danger btn-lg" href="{{url_for('main.add_comment', blog_id = blog.id)}}"> Make a new comment</a>
      </div>
    </div>
  {% else%}
    <h3 class="text-center">This blog has no comments </h3>
    <h3 class="text-center"><a class="btn btn-danger btn-lg" href="{{url_for('main.add_comment',blog_id = blog.id)}}"> Make a new comment</a></h3>
  </div>
  {% endif %}
 
  
</div>




{% endblock %}