<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}" type="text/css">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('main.about')}}">About</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated%}
                <li><a href="{{url_for('main.add_blog', user_id = current_user.id)}}">New Post</a></li>
                <li><a href = "{{url_for('main.profile', user_id = current_user.id)}}">My account</span></a></li>
                <li> <a href="{{url_for('auth.logout')}}">Sign out</a> </li>
                {% else %}
                <li><a href ="{{url_for('auth.login')}}">Sign in</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
