
<!-- Styles Block -->
{% block styles %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/subscribe.css')}}">
<link href="https://fonts.googleapis.com/css?family=Cabin|Comic+Neue|Cormorant|IM+Fell+English|Love+Ya+Like+A+Sister|Miriam+Libre|Poiret+One|Sacramento&display=swap" rel="stylesheet">
{% endblock %}
<footer>
    <div class="footer-links">
        <div>
            <h6><span style="font-size: 40px;">Subscribe</span> and receive updates every a new blog is posted.</h6>
            <hr>
            <hr>
        </div>
        {{wtf.quick_form(subscriber_form)}}
    </div>

</footer>